*.iml
*.ipr
*.ids
*.iws
.idea/

.project
.metadata
local.properties
.classpath
.settings/
.loadpath


target/

.gradle
build/

*.log*
/classes/
/apps.tanzu.vmware.com.ContainerApp/

.ignoreme
.ignoreme/.tanzu/
